<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://8.130.119.180:3306/novel"/>
                <property name="username" value="fang"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
<!--    开启包的扫描-->
    <mappers>
        <package name="novel.admin.dao"/>
    </mappers>


</configuration>