

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User List</title>
</head>
<body>
<h1>User List</h1>
<table border="1">
  <tr>
    <th>Id</th>
    <th>UserName</th>
    <th>password</th>
    <th>Actions</th>

  </tr>
  <tr th:each="user:${users}">
    <td th:text="${user.userId}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.password}"></td>
    <td>
      <a th:href="@{'admin/User/edit/'+${user.userId}}">Edit</a>
      <a th:href="@{'admin/User/delete/'+${user.userId}}">Delete</a>
    </td>
  </tr>
</table>
<br>
<a href="/User/add">Add user</a>
</body>
</html>